.footer {
    Height: 777px;
    background-image: url(images/2aa1f2ff28fed61501b2146e12495571.png);
    background-position:top center;
    background-repeat: no-repeat;
    background-size: cover;
}



@media (max-width: 1024px) {
    .footer {
        height: 1203px !important;
    }

    .footer-main {
        display: block !important;
        justify-content: center !important;

    }

    /* .footer-content {
        display: grid !important;
        justify-content: center !important;
    } */
    .logo-footer {
        width: 130px;
        height: 114px;
    }
    .logo-text {
        display: none !important;
    }

    .text-p {
        justify-content: center;
    }
    
}