.navigation-main {
    position: sticky;
    transition: transform 0.5s ease;
    top: 0;

    visibility: visible;
    transform: translateY(0);
}

.navigation-main.show {
    position: fixed;
    top: -80px;
    opacity: 1;
    visibility: visible;
    transform: translateY(100%);
    transition: transform 0.5s ease;
    z-index: 1;
}

.navigation {
    z-index: 99999;
    padding: 0 30px;
    width: 1400px;
    height: 96px;
    top: 24px;
    border-radius: 16px;
    background: #FFFFFF;
    box-shadow: 0px 0px 32px 0px #0000000A;
}

.navigation ul {
    width: 921px;
    height: 22px;
}

.navigation ul li {
    font-weight: 700;
}

.icon-fb {
    width: 28px;
    height: 28px;
    padding: 6px;
    border-radius: 50px;
    background: #B34B1E;
}

.icon-ytb {
    width: 28px;
    height: 28px;
    padding: 6px;
    border-radius: 50px;
    background: #B34B1E;
}

.nar-bar {
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.0025em;
    text-align: left;
    opacity: 0;
    box-shadow: 0 0 7px 0.5px rgba(0, 0, 0, .15);
    transform: rotateX(90deg);
    transform-origin: center top 0;
    transition: all .5s ease 0s;
    visibility: hidden;
}

.nar-bar p:hover {
    color: #B34B1E;
}

.nar-bar.active {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: rotatey(0);
}

.loop:hover {
    background-color: rgb(228, 228, 228);
}



@media (max-width: 1024px) {
    .navigation-main {
        display: none !important;
    }
}